{% import "bootstrap/wtf.html" as wtf %}

{% extends "security/index.html" %}

{% block title %}
Register
{% endblock %}

{% block form_content %}
    <h1>Register</h1>
    <form action="{{ url_for('security.register') }}" method="POST" name="register_user_form">
        {{ register_user_form.hidden_tag() }}

        {{ wtf.form_errors(register_user_form) }}

        {{ wtf.form_field(register_user_form.email) }}
        {{ wtf.form_field(register_user_form.password) }}
        {% if register_user_form.password_confirm %}
            {{ wtf.form_field(register_user_form.password_confirm) }}
        {% endif %}
        {{ wtf.form_field(register_user_form.submit) }}

    </form>
{% endblock %}