{% import "bootstrap/wtf.html" as wtf %}

{% extends "security/index.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block form_content %}
<h1>Reset password</h1>
    <form action="{{ url_for('security.reset_password', token=reset_password_token) }}" method="POST" name="register_user_form">
        {{ reset_password_form.hidden_tag() }}

        {{ wtf.form_errors(reset_password_form) }}

        {{ wtf.form_field(reset_password_form.password) }}
        {{ wtf.form_field(reset_password_form.password_confirm) }}
        {{ wtf.form_field(reset_password_form.submit) }}

    </form>
{% endblock %}
